<h1>Welcome to the Social Network</h1>
<div>
    <% if (user) { %>
        <%-'You are logged in as "' + user + '"' %>.
    <% } %>
</div>

<br>
<div>
    <a href="/signup">Sign up</a>
</div>

<div>
    <a href="/login">Log In</a>
</div>

<div>
    <a href="/logout">Log Out</a>
</div>