<h1>Home Page</h1>

<form action="/createData" method="get">

    <label>
        First Name:
        <input type="text" name="fname">
    </label>
    <br>
    <label>
        Last Name:
        <input type="text" name="lname">
    </label>
    <br>
    <label>
        Last Name:
        <input type="text" name="lname">
    </label>
    <br>
    <label>
        Age:
        <input type="number" name="age">
    </label>
    <br>
    <label>
        <!-- All should be the same name -->
        Are you alive?
        <input type="radio" name="isAlive"  value="true"> Yes
        <input type="radio" name="isAlive" value="false" checked> No
    </label>
    <button>Submit</button>
    


</form>