<%- include('partials/header.ejs', {Title: 'About Page', body_id: "about_page"}) %>
<div class="mt-4 p-5 light bg-dark text-white rounded opacity-50">
    <h1>ABOUT OUR COMPANY </h1>
    <P>We bake the finest goods.</P>
</div>
<%- include('partials/footer.ejs') %>