<%- include('partials/header.ejs', {Title: 'Home Page', body_id: "home_page"}) %>
<div class="mt-4 p-5 light bg-dark text-white rounded opacity-50">
    <h2>WELCOME TO THE DONUT SHOP</h2>
    <P>We bake the finest goods.</P>
</div>
<%- include('partials/footer.ejs') %>