<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="">
    </head>
    <body id="error_page">
        <div class="container error_container">
            <h1 class="error_text">Error Page</h1>
            <h2 class="error_text"> <%=error %> </h2>
        </div>​
    </body>
</html>