<h1>Home Page</h1>

<form action="/createData" method="get">

  <label>
    First Name:
    <input type="text" name="fname">
  </label>
  <br>
  <label>
    Last Name:
    <input type="text" name="lname">
  </label>
  <br>
  <label>
    Age:
    <input type="text" name="age">
  </label>
  <br>
  <label> 
    Are you Alive? 
    <input type="radio" name="isAlive" value="true">Yes
    <input type="radio" name="isAlive" value="false" checked>No
  </label>
  <br>
  <button type="submit">Submit</button>

</form>