<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <form action="/quote" method="get">
            <button>GET QUOTE</button>
        </form>


    </body>
</html>